In [39]:
# Import packages
import numpy as np
import pandas as pd
from scipy.stats.stats import spearmanr

In [12]:
dataset = pd.read_csv("merged_mma_wwo_manila_2015/merged_mmda_wwo_Taft Ave._2015.csv", skipinitialspace=True, encoding='cp1252')
dataset = dataset[['dt', 'statusN']]
dataset.loc[[1176]]

                       dt  statusN
1176  2015-01-13 06:00:00      0.0

In [58]:
start_index = 1176

data = []

for i in range(1, 31): 
    lag = i

    mask1 = (dataset.index >= start_index) & (dataset.index < start_index + lag)
    data1 = dataset.loc[mask1]
#     print(data1['statusN'].tolist())

    mask2 = (dataset.index >= start_index + lag) & (dataset.index < start_index + lag * 2)
    data2 = dataset.loc[mask2]
#     print(data2['statusN'].tolist())
    corr = spearmanr(data1['statusN'].tolist(), data2['statusN'].tolist()).correlation
    
    row = []
    row.append(lag)
    row.append(corr)
    
    data.append(row)

names = ['lag', 'corr']
corrDF = pd.DataFrame(data, columns=names)
corrDF

C:\Users\victo\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:3167: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
C:\Users\victo\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\victo\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\victo\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)
C:\Users\victo\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:3168: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

    lag      corr
0     1       NaN
1     2       NaN
2     3       NaN
3     4       NaN
4     5 -0.612372
5     6 -0.500000
6     7 -0.353553
7     8       NaN
8     9       NaN
9    10       NaN
10   11       NaN
11   12 -0.213201
12   13 -0.365148
13   14 -0.471405
14   15 -0.564076
15   16 -0.363696
16   17 -0.170697
17   18  0.077847
18   19  0.384419
19   20  0.396059
20   21  0.408880
21   22  0.386859
22   23  0.335083
23   24  0.361158
24   25  0.382290
25   26  0.399824
26   27  0.414636
27   28  0.290820
28   29  0.186290
29   30  0.096719

In [59]:
corrDF.to_csv('traffic_autocorrelation_30lags.csv')